# Add account credentials and API keys here.
# This file should be listed in .gitignore to keep your settings secret!
# Each entry sets a local environment variable.
# For example, setting:
# GMAIL_USERNAME=Your_Gmail_Username
# makes 'Your_Gmail_Username' available as ENV["GMAIL_USERNAME"]

MANDRILL_USERNAME=Your_Username
MANDRILL_APIKEY=Your_API_Key
DOMAIN_NAME=example.com
ADMIN_NAME=First User
ADMIN_EMAIL=user@example.com
ADMIN_PASSWORD=changeme
BASIC_USERNAME=Your_Username
BASIC_PASSWORD=Your_Password
ASSET_HOST=Your_Asset_Url
OMNIAUTH_FACEBOOK_ID=Your_ID
OMNIAUTH_FACEBOOK_SECRET=Your_Secret
OMNIAUTH_TWITTER_ID=Your_ID
OMNIAUTH_TWITTER_SECRET=Your_Secret
OMNIAUTH_GOOGLE_ID=Your_ID
OMNIAUTH_GOOGLE_SECRET=Your_Secret
