<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="hero-title">Tandem writing + the interwebs</h2>
        <p class="hero-subtitle">Create a story and pass it on to a friend. Go from writing about a love story, and end it with a zombie apocalypse. Anything goes.</p>
        <%= link_to("Create a story today", new_nik_path, :class => "btn-style btn-main") %>
      </div>
    </div>
  </div>  
</div>

<div class="container">
  <div class="row">
    <% @niks.shuffle.first(2).each do |nik| %>
      <div class="col-sm-6">
        <div class="story-thumbnail">
          <h2 class="story-thumbnail-title"><%= link_to nik.title, nik %></h2>
          <p><%= link_to nik.body, nik %></p>
        </div>        
      </div>
    <% end %>
  </div>
</div>
