<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="hero-title">Tandem writing <br>+<br> the interwebs</h2>
        <p class="hero-subtitle">You may start by creating a love story, and your friend might turn it into a tale of zombie apocalypse.</p>
        <%= link_to("Create a story today", new_nik_path, :class => "btn-style btn-main") %>
      </div>
    </div>
  </div>  
</div>

<div class="container">
  <h2 class="homepage-section-label">Fresh out of creativity? Here are some random stories</h2>
  <div class="row">
    <% @niks.shuffle.first(2).each do |nik| %>
      <div class="col-sm-6">
        <div class="story-thumbnail">
          <h2 class="story-thumbnail-title"><%= link_to nik.title, nik %></h2>
          <p><%= link_to nik.body, nik %></p>
        </div>        
      </div>
    <% end %>
  </div>
  <div class="read-all">
    <%= link_to("View all stories", niks_path, :class => "btn-style btn-second") %>
  </div>
</div>
