<div class="hero">
  <h2>Tandem writing + the internet</h2>
  <p>Create stories with friends and strangers. Go from writing about a princess finding her prince charming, and end it with a zombie apocalypse. Anything goes.</p>
  <%= link_to("Start a new story", new_nik_path, :class => "btn-style btn-main") %>
</div>

<h2>Recent stories</h2>

<% @niks.each do |nik| %>
  <%= nik.title %>
  <%= link_to 'Read story', nik, :class => "btn-style btn-second" %>
<% end %>