development:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: yak_development
  pool:     5
  username:
  password:
  template: template0

test:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: yak_test
  pool:     5
  username: postgres
  password: postgres
  template: template0

production:
  adapter:  postgresql
  url: <%= ENV['DATABASE_URL'] %>
  database: yak_production
  pool:     5
