<div class="authform sign-up">
  <p class="sign-up-instructions">
    Sign up by using one of the options below
  </p>
  <%= link_to "Sign in with Facebook", omniauth_url(:facebook), :class => "btn-style btn-main" %>
  <%= link_to "Sign in with Twitter", omniauth_url(:twitter), :class => "btn-style btn-main" %>
</div>
