//Mixins
@mixin drop-shadow {
  -moz-box-shadow:    3px 3px 0 0 rgba(0,0,0,0.22);
  box-shadow:         3px 3px 0 0 rgba(0,0,0,0.22);
}

@mixin inner-shadow {
  -moz-box-shadow:    inset 3px 3px 0 0 rgba(0,0,0,0.22);
  box-shadow:         inset 3px 3px 0 0 rgba(0,0,0,0.22);
}

@mixin no-shadow {
  -moz-box-shadow:    0 0 0 0 rgba(0,0,0,0.22), inset 0 0 0 0 rgba(0,0,0,0.22);
  box-shadow:         0 0 0 0 rgba(0,0,0,0.22), inset 0 0 0 0 rgba(0,0,0,0.22);
}

@mixin text-dropshadow {
  text-shadow: 2px 3px 0px rgba(0,0,0,0.20);
}

//Colors
$main-color: #000000;
$secondary-color: #ffffff;
$accent-color: #E97131;

$main-color-inverse: #ffffff;

$button-border-color: #ffffff;


body {
  background-color: #ddd;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

a, a:hover {
  color: $accent-color;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

//Theme
//Typography
h1, h2, h3 {
  font-family: 'Fredoka One', sans-serif;
  color: $main-color;
}

h1, h2 {
  @include text-dropshadow;
}

//Buttons
.btn-style {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
}

.btn-main, .btn-main:visited {
  @include drop-shadow;
  background-color: $main-color;
  border: 2px solid $button-border-color;
  color: $main-color-inverse;  
}

.btn-main:hover {
  @include no-shadow;
  background-color: $accent-color;
  color: $main-color-inverse;
  text-decoration: none;
}

.btn-main:active {
  @include inner-shadow;
}

.btn-second, .btn-second:visited {
  @include drop-shadow;
  background-color: $secondary-color;
  border: 2px solid $main-color;
  color: $main-color;
}

.btn-second:hover {
  @include no-shadow;
  background-color: $accent-color;
  color: $main-color-inverse;
  text-decoration: none;
}

.btn-second:active {
  @include inner-shadow;
}

//forms 

.nik_fields {
  @include inner-shadow;
  border: 0;
  font-size: 18px;
  padding: 20px;
  width: 100%;
}

//Structure
.story-page-footer {
  text-align: center;
}

//Story page
.story-container {
  background-color: white;
  padding: 20px;
  margin-bottom: 1px;
}

.story-container .story-intro-info {
  display: none;
}

.story-container:first-child {
  background-color: transparent;
  padding: 0;
  margin: 50px 0;
}

.story-container:first-child .story-intro-paragraph {
  font-size: 18px;
}

.story-container:first-child .story-intro-info {
  display: block;
}

//Hero
.hero {
  background-color: #333333;
  color: $main-color-inverse;
  text-align: center;
  padding: 100px 0;
}

.hero-title {
  color: $main-color-inverse;
  font-size: 48px;
  margin: 0 0 30px 0;
}

.hero-subtitle {
  font-size: 20px;
  margin-bottom: 30px;
}

.hero .btn-main {
  font-size: 20px;
}

//Story thumbnail
.story-thumbnail {
  @include drop-shadow;
  background-color: white;
  height: 200px;
  padding: 20px;
  position: relative;
}

.story-thumbnail-title {
  font-size: 18px;
  margin: 0;
}

.story-thumbnail .btn-second {
  bottom: 20px;
  position: absolute;
}