//Mixins
@mixin drop-shadow {
  -moz-box-shadow:    3px 3px 0 0 rgba(0,0,0,0.22);
  box-shadow:         3px 3px 0 0 rgba(0,0,0,0.22);
}

@mixin inner-shadow {
  -moz-box-shadow:    inset 3px 3px 0 0 rgba(0,0,0,0.22);
  box-shadow:         inset 3px 3px 0 0 rgba(0,0,0,0.22);
}

@mixin no-shadow {
  -moz-box-shadow:    0 0 0 0 rgba(0,0,0,0.22), inset 0 0 0 0 rgba(0,0,0,0.22);
  box-shadow:         0 0 0 0 rgba(0,0,0,0.22), inset 0 0 0 0 rgba(0,0,0,0.22);
}

@mixin body-font {
  font-family: Georgia, serif;
}

@mixin border-style {
  border: 2px solid $main-color;
}

@mixin border-thin-style {
  border: 1px solid $main-color; 
}

@mixin border-bottom-style {
  border-bottom: 2px dotted #ddd;
}


//Colors
$main-color: #000000;
$secondary-color: #ffffff;
$accent-color: #E97131;

$main-color-inverse: #ffffff;

$button-border-color: #000000;

*:focus {
  outline:0;
}

body {
  @include body-font;
  background-color: #fff;
  color: #333;  
  font-size: 16px;
  line-height: normal;
  margin-bottom: 100px;
}

a, a:hover {
  color: $accent-color;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

//Theme
//Typography
h1, h2, h3 {
  color: $main-color;
}

//Buttons
.btn-style {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
}

.btn-main, .btn-main:visited {
  background-color: $main-color;
  border: 2px solid $button-border-color;
  color: $main-color-inverse;  
}

.btn-main:hover {
  background-color: $secondary-color;
  border-color: $main-color;
  color: $main-color;
  text-decoration: none;
}

.btn-main:active {
  @include inner-shadow;
}

.btn-second, .btn-second:visited, .btn-second:active {
  background-color: $secondary-color;
  border: 2px solid $main-color;
  color: $main-color;
}

.btn-second:hover {
  background-color: $main-color;
  color: $main-color-inverse;
  text-decoration: none;
}

.btn-second:active {
  background-color: #333;
  border: 2px solid $main-color;
  color: $main-color-inverse;
}

//Structure

.section {
  @include border-style;
  @include drop-shadow;
  padding: 30px;
  margin: 20px 0;
}

.section h3 {
  margin: 0 0 20px 0;
}

.nik-authored {
  @include border-bottom-style;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

//Navigation
.nik-navigation {
  border-bottom: 2px solid #ddd;
  padding: 10px 0;
}

.nik-navigation a {
  color: $main-color;
}

.navbar-brand {
  background: transparent image-url("logo.png") no-repeat;  
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 111px;
  padding: 0;
}

.navbar-toggle {
  background-color: $accent-color;
  border-color: $accent-color;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

//Sign-up
.sign-up {
  margin-top: 150px;
  text-align: center;
}

.sign-up .btn-main, .sign-up .btn-second {
  display: block;
  margin-bottom: 10px;
}

//forms 
.nik_fields {
  border: 0;
  @include border-bottom-style;
  font-size: 16px;
  padding: 0;
  width: 100%;
}

.nik_fields_new {
  border: 2px dotted #dddddd;
  padding: 15px;
  width: 100%;
}

.field-explaination {
  margin-bottom: 10px;
}

//Story page
@media (min-width: 768px){
  .content-container {    
    margin-top: 100px;
    max-width: 730px; 
    padding: 0;   
  }

  .sign-up-container {
    @include border-style;
    @include drop-shadow;
    padding: 50px;
    max-width: 730px;
  }
}

.sign-up-container h3 {
  margin: 0 0 10px 0;
}

.sign-up-container p {
  margin: 0 0 20px 0;
}

.sign-up-container .btn-main {
  margin-right: 10px;
}


.story-container {
  border-bottom: 2px dotted #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.story-container h1 {
  margin: 0 0 20px 0;
}

.story-container p {
  line-height: 25px;
  margin: 0;
}

.story-container .story-intro-info {
  display: none;
}

.story-container:first-child {
  padding: 0;
}

.story-container:first-child h1 {
  font-size: 42px;
  line-height: 52px;
}

.story-container:first-child .story-intro-paragraph {
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.story-container:first-child .story-intro-info {
  display: block;
}

//Hero
.hero {
  background-color: white;
  text-align: center;
  padding: 75px 0;
}

.hero-title {
  font-size: 48px;
  margin: 0 0 30px 0;
}

.hero-subtitle {
  font-size: 20px;
  margin-bottom: 30px;
}

.hero .btn-main {
  font-size: 20px;
}

//Homepage
.homepage-section-label {
  margin: 0 0 20px 0;
}

//Story thumbnail
.story-thumbnail p a{
  color: $main-color;
  font-size: 16px;
  line-height: 25px;
}

.story-thumbnail p a:hover {
  text-decoration: none;
}

.story-thumbnail-title a{
  color: $main-color;
  font-size: 20px;
  line-height: 1;
}

.story-thumbnail .btn-second {
  bottom: 20px;
  position: absolute;
}

//New nik
.new-nik-header {
  margin: 50px 0;
}

// Next step
.next-step-message {
  @include border-style;
  @include drop-shadow;
  padding: 30px;
}

.next-step-message h3 {
  margin: 0 0 20px 0;
}

.next-step-message h4 {
  font-weight: bold;
}

// All stories

.all-stories .btn-second {
  display: block;
  text-align: center;
}

.story {
  @include border-bottom-style;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.story-title a {
  color: $main-color;
  font-size: 24px;
}

.story-vote-count {
  font-size: 13px;
}

// Sharefooter

.share-footer {
  margin-top: 50px;
  text-align: center;
}