.node circle {
  fill: #fff;
  stroke: #333;
  stroke-width: 2px;
  pointer-events: all;

  .nik {
    // just a regular node
  }

  .in-path {
    // this one is a part of current branch
  }

  .current {
    // the one that's id is diplayed in address bar
  }
}

.node circle:hover {
  fill: #fdf;
  cursor: pointer;
}

.node circle.current {
  fill: #E7A53C;
}

.node text { font: 12px sans-serif; }

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;

  .current-link {
    // the link that connects current branch
  }
}
