<div class="container-fluid next-step-message">
  <h3>Now what?</h3>
  <div class="row">
    <div class="col-sm-6">
      <h4>Share</h4>
      <p>Share this page with friends and see what they will add. Once they are done, read what they wrote, and continue the story by writing another paragraph.</p>      
    </div>
    <div class="col-sm-6">
      <h4>Explore</h4>
      <p>See how you affected this story by looking at the NikYak below.</p>
      <a href="#" class="zoom btn-style btn-second btn-mini">View this story's NikYak</a>
    </div>
  </div>
</div>
