<div class="next-step-message">  
  <h3>Now what?</h3>
  <p>Here comes the fun part. Share this page with friends and see what they will add. Once they are done, read what they wrote, and continue the story by writing another paragraph.</p>

  <p>Share this with as many people as possible and see how many variations of this story can appear. Remember, anything goes.</p>

  <p>Have fun!</p>
</div>