<div class="container">
  <h1>All stories</h1>
  <%= link_to 'New Nik', new_nik_path %>
  <% @niks.each do |nik| %>
  <div class="story">
    <h2 class="story-title"><%= link_to nik.title, nik %></h2>
    <p class="story-vote-count">Votes: <%= nik.votes %></p>
    <p class="story-intro"><%= nik.body %></p>
  </div>
  <% end %>
</div>